
/*font*/
body {
    font-family: "Droid Sans", sans-serif;
    color: #f5f6f7;
}

/*background gradient*/
body {
	background: #FEAC5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
