
/*font*/
body {
    font-family: "Montserrat", sans-serif;
    color: #f5f6f7;

  	padding-top: 20px;
  	padding-bottom: 20px;
}

/*background gradient*/
body {
	background: #A770EF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #A770EF, #CF8BF3, #FDB99B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #A770EF, #CF8BF3, #FDB99B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
	font-size: 70px
}

#smallText {
	font-size: 50px 
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  color: black;
  margin-top: 100px;

  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200, 54, 54, 0.5); 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .jumbotron {
    border-bottom: 0;
  }
}

#tinderImg {
	width:270px;
  	height:480px;
}

#flipImg {
	width: 100px ;
	height: 100px;
}

